{% extends 'blog/base.html' %}

{% block content %}
    <h1>Biography</h1>
    <div>
        I am a Esports Researcher originally from Warsaw, Poland.
        I am working on Sports Performance Analysis with emphasis on bringing in new technologies to the field.

        My background is in sports such as fencing, archery and swimming. Where I had the chance to compete on European and National level.
        Although my interest were always aimed at virtual environments and competition.
        This led me to create my own project ZdrowiGracze (eng. HealthyGamers) in 2015 which was focused on researching how professional esports athletes practice.
        Goal of said project is to bring all of the methods and research methodologies from traditional sports into esports while at the same time using the data rich simulated esports environments and technology to influence traditional sports.
        All of that work was documented in form of interviews which are collected and showcased in the "interviews" tab.
    </div>

    <h2>Projects</h2>
    <div>
        <h4>ZdrowiGracze</h4>
        <div>
            <p>Started: 2015</p>
            <p>State: Public</p>
            <p>
                Goal: Incorporate practice method and research methodology from traditional sports into esports
                and use data rich simulated esports environments and technology to influence traditional sports.
            </p>

        </div>

        <h4>ClipIT</h4>
        <div>
            <p>Started: 2019</p>
            <p>State: Unpublished</p>
            <p>
                Goal: Provide video processing tools which allow quick filtering
                of the content based on audio analysis to shorten the time required for content creation.
            </p>
        </div>
    </div>


    <h2>Programming</h2>
    <div>
        My interest in programming is mostly within the area of performance computing, machine learning and automation.
        I have experience in different technologies showcased below.
    </div>

    <h3>Programming languages:</h3>
    <div>
        Python, JavaScript, Go, HTML
    </div>
    <h3>Frameworks:</h3>
    <div>
        Django (DRF)
    </div>
    <h3>Tools:</h3>
    <div>
        Git, Docker, NGINX
    </div>
    <h3>Databases:</h3>
    <div>
        MySQL, PostgreSQL 
    </div>

{% endblock content %}