{% extends 'blog/base.html' %}

{% block content %}

<h1>Interviews</h1>

<div>
    I have had the pleasure of conducting interviews during some of the biggest Gaming and Esports events in the world.
    Below You can see all of interviews in both English and Polish separated by respective headings.
</div>

<h2>English Interviews</h2>

<h3>IEM Katowice 2019</h3>

<h4>“We do care about our fitness...” - Steve "jokasteve" Perino (Counter-Strike: Global Offensive)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/lwTZ8_rbLV8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>"Nutrition is one of the hardest parts right now." - Nathan "NBK-" Schmitt (Counter-Strike: Global Offensive)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rfmOOTJa4e4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>"Action that happens is based on confidence." - Yazied "YapzOr" Jaradat (Dota 2)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/iE5cO4Tw2uY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>"Average [practice is] 8 to 10 hours." - Linus "Limp" Brannlund (Dota 2)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Q5ZmIGxzJg8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>"As long as I have chocolate and coffee I am safe." - Aleksandr "Bly" Svysiuk (StarCraft II)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/YueXDL3o1_o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>IEM Katowice 2018</h3>

<h4>"Try to find a team You like to play with" - Philip "aizy" Aistrup (Counter-Strike: Global Offensive)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/A8nZvGJgFoY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>"It took me 5000 hours" - Jonas "Lekr0" Olofsson (Counter-Strike: Global Offensive)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4lKYhvyDK8Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>“Eventualy You will become pretty good” - Christopher "GeT_RiGhT" Alesund (Counter-Strike: Global Offensive)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/E59zYo7OkQw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>"Be careful signing contracts." - Patrik "f0rest" Lindberg (Counter-Strike: Global Offensive)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/OP7DdunFSYU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>"The more You play, the more confident You're going to be" - Jimmy "Jumpy" Berndtsson (Counter-Strike: Global Offensive)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/13Ao1h-1Wwg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>"Confidence, motivation, sacrifice" - Markus "Kjaerbye" Kjærbye</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_EcKJl03-Ik" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>"I just practice whole day" - Lee "Rogue" Byung Ryul</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/FY1RtEjQ6qw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>"Main thing in StarCraft is to practice alot" - Joona "Serral" Sotala</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mtlvK8mvTLI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>IEM Katowice 2017</h3>
<!-- This is from ZdrowiGracze -->
<h4>Jang "MC" Min Chul (StarCraft II / League of Legends)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/IqCOUQayv-Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>Romain Bigeard (Unicorns of Love - Team Manager)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/nmSGO2S4X0w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>Andrei "Xerxe" Dragomir (League of Legends)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/WgUUOBkqKu4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>Leigh "Maynarde" Mandalov (StarCraft II - Commentator)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mjVvI4oP8e0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>Nicolas Alexander "Tasteless" Plott (StarCraft II - Commentator)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2KD9cpMEEjo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>IEM Katowice 2016</h3>

<h4>Carlos "ocelote" Rodriguez (CEO of esports organization)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/292z3xRLJ7s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>WGL Season 2 EU Finals</h3>

<h4>Atila Yesildag</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/p67zRHGMjQ4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



<h2>Polish Interviews</h2>


<h3>IEM Katowice 2019</h3>

<h4>Jędrzej Smaruj (Polish National Television - Representative)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/nhH4AaDMINs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



<h3>Faculty of AWF Warsaw (University of Physical Education)</h3>

<h4>Michał Jasny (Sociology)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mVOzmax8JSI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>Zbigniew Tyc (Team Games)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rkyFnfGz6nk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>Jerzy Nowocień (Pedagogy and Psychology)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Di25cDBe6bQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>E-Ampy 2017</h3>

<h4>Maciej Sawicki</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/m7-PhMO-EUM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>Dariusz Piekut (Collegiate Esports Representative)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2vj-VWAn3x0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<h3>E-Ampy 2018</h3>

<h4>Andrzej "Kaszanas" Białecki (Me)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/HqY2QiENNGc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>Mateusz "HaX" Ogonowski (Counter-Strike: Global Offensive - Commentator)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/GMDpbPsrcH8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>Good Game 2018</h3>

<h4>Michał Chmiel (MoCap Actor)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/TFTCAlCgpqE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>




<h3>Gamescom 2019</h3>
<h4>Konrad Rawiński (Wargaming.net - PR Representative)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/21aSgM40Tfo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<h3>ESL One Qualifiers (2015)</h3>

<h3>WGL Season 2 EU Finals</h3>

<h4>call_me_piotr (World of Tanks)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/pc6Ln01O70g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>Vale (World of Tanks)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/0vfZgE2MsBI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>KamilEater (World of Tanks)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8hRTACpgoGA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>ESL Polish National Championship</h3>

<h4>Maciej "Luz" Bugaj (Counter-Strike: Global Offensive)</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/hzHLrpVVSVc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% endblock content %}